@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background  : #ffd107;
}

.navigation{
    position: relative;
    width: 70px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    border-radius: 10px;
    width: 70px;
    height: 60px;
    list-style: none;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.navigation ul li:hover{
    background: #0077ff;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #0077ff;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
}

.navigation ul li:hover a .icon{
    color: #fff;
}

.navigation ul li a .icon .fa{
    font-size: 24px;
}

.navigation ul li a .title{
    position: absolute;
    left: 70px;
    display: block;
    background: #fff;
    width: auto;
    padding: 5px 10px;
    transform: translateY(15%) translateX(0px);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0 , 0.1);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.navigation ul li:hover a .title{
    transform: translateY(15%) translateX(10px);
    visibility: visible;
    opacity: 1;
}

.navigation ul li a .title::before{
    content: '';
    position: absolute;
    top: 48%;
    left: -8px;
    background-color: #fff;
    height: 12px;
    width: 12px;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 2px;
}







